extends html,bootstrap

snippet sectionshow "Description" b
@section('$1')
$2
@show
endsnippet


snippet sectionstop "Description" b
@section('$1')
$2
@stop
endsnippet

snippet !! "Description" b
{!! $1 !!}
endsnippet

snippet if "Description" b
@if
$1
@endif
endsnippet
